{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}

{% block customcss %}
    {% leaflet_css plugins="forms" %}
{% endblock %}

{% block customjs %}
    {% leaflet_js plugins="forms" %}
{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <form method='POST' action=''> {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-check">
                        {{ edit_node_form }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
