{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_nodes').DataTable({
                pageLength: 10,
                order: [[4, "desc"]]
            });
        });


        $(document).on('hidden', "#modal-content", function () {
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function () {
            var target = $(this).attr("href");

            $.get(target, function (data) {
                $("#modal-content").html(data);
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/wifistack/nodes/claim" class="btn bg-blue float-right mx-1" data-toggle="modal" data-target="#modal">{% trans "Claim Node" %}</a>
    <br><br><br>
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <table id="all_nodes" class="table table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Hostname" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Domain" %}</th>
                <th>{% trans "Last Fetch" %}</th>
                <th>{% trans "Edit" %}</th>
                <th>{% trans "Dump Info" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for node in all_nodes %}
                <tr>
                    <td>{{ node.id }}</td>
                    <td>{{ node.hostname }}</td>
                    <td>{{ node.title }}</td>
                    <td>{{ node.wireless_node_domain }}</td>
                    <td>{{ node.host_last_fetch }}</td>
                    <td><a href="/wifistack/node/{{ node.id }}"><i class="icon-database-edit2"></i></a></td>
                    <td><a href="/wifistack/node/{{ node.id }}/code-dump" data-toggle="modal" data-target="#modal"><i
                            class="icon-file-css"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
