{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}
{% load i18n %}

{% block customjs %}
    <script src="{% static "global_assets/js/plugins/ui/prism.min.js" %}"></script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="code-toolbar">
            <pre class=" mb-0 language-markup line-numbers">
                <code class=" language-markup">
                    {{ dumped_info.info_dump_ip_config }}
                </code>
            </pre>
        </div>
    </div>
{% endblock %}
