{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}
{% load i18n %}

{% block customjs %}
    <script src="{% static "global_assets/js/plugins/ui/prism.min.js" %}"></script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form method='POST' action=''> {% csrf_token %}
            <p>{% trans "If you want to transfer your new node to your domain, specify the node's hostname here." %}</p>
            <p>{% trans "Specify only the hostname part:" %} <em>dc-<span style="color: red">hostname</span>.nodes.managed-infra.com</em></p>
            <table>
                {{ claim_node_form }}
            </table>
            <hr>
            <div class="text-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="submit" class="btn btn-primary">{% trans "Claim" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
